# ==========================================================
# ENV TEMPLATE
# Copy this file to .env.local and fill in your actual credentials.
# Do NOT commit .env.local to version control!
# ==========================================================

# Database Configuration
# Format: host=localhost user=<USER> password=<PASSWORD> dbname=<DB_NAME> port=5432 sslmode=disable TimeZone=Africa/Addis_Ababa
DATABASE_URL=host=localhost user=postgres password=mysecretpassword dbname=referral port=5432 sslmode=disable TimeZone=Africa/Addis_Ababa

# Redis Cache/Session DB
# Make sure your Docker container maps port 6379 to your localhost
REDIS_URL=localhost:6379

# Security
# A long, random string used to secure the JWT signatures
JWT_SECRET=super-secure-jwt-key

# Server
PORT=8081
